*out
sample_data/*
archive/*
reference_data/scer.transcripts.aa*
reference_data/grch38.transcripts.fa
reference_data/*ebwt
reference_data/*fa
reference_data/*fna
reference_data/*fasta
reference_data/*seq
reference_data/*ti
reference_data/*grp
reference_data/*gff3
reference_data/*gff
expts/wu_2019/raw_data/SRR*/*
expts/wu_2019/raw_data/plots
expts/schuller_2017/schuller_eval_cache
expts/schuller_2017/schuller_eval_files
expts/tunney_2018/tunney_eval_cache
expts/tunney_2018/tunney_eval_files
expts/weinberg_2016/weinberg_eval_cache
expts/weinberg_2016/weinberg_eval_files
expts/simulated_data/*Bias/*
expts/goodarzi_2016/raw_data/SRR*
scripts/*Rda
expts/*/*Rda
expts/*/*/*Rda
expts/*/*/*/*Rda
expts/*/raw_data/*
expts/cheng_2018/timecourse_comparison/timepoint_0hr_timepoint_*
expts/cheng_2018/ref_data/*
*bam
*sam
*error
*umitools
*bowtiestats
*results
*rsem.stderr
*tsv
*cutadapt
*fq
*.gz
training_transcripts.txt
