*out
sample_data/*
archive/*
reference_data/scer.transcripts.aa*
reference_data/*ebwt
reference_data/*idx.fa
reference_data/*seq
reference_data/*ti
reference_data/*grp
reference_data/*gff3
expts/wu_2019/raw_data/SRR*/*
expts/schuller_2017/*Rda
expts/schuller_2017/schuller_eval_cache
expts/schuller_2017/schuller_eval_files
expts/tunney_2018/*Rda
expts/tunney_2018/tunney_eval_cache
expts/tunney_2018/tunney_eval_files
expts/weinberg_2016/*Rda
expts/weinberg_2016/weinberg_eval_cache
expts/weinberg_2016/weinberg_eval_files
expts/simulated_data/*Bias/*
expts/simulated_data/*Rda
scripts/*Rda
