*out
sample_data/*
archive/*
reference_data/scer.transcripts.aa*
reference_data/grch38.transcripts.fa
reference_data/*ebwt
reference_data/*fa
reference_data/*fna
reference_data/*fasta
reference_data/*seq
reference_data/*ti
reference_data/*grp
reference_data/*gff3
reference_data/*gff
expts/wu_2019/raw_data/SRR*/*
expts/wu_2019/raw_data/plots
expts/wu_2019/*/*Rda
expts/wu_2019/*/*bam
expts/schuller_2017/*Rda
expts/schuller_2017/schuller_eval_cache
expts/schuller_2017/schuller_eval_files
expts/tunney_2018/*Rda
expts/tunney_2018/tunney_eval_cache
expts/tunney_2018/tunney_eval_files
expts/weinberg_2016/*Rda
expts/weinberg_2016/weinberg_eval_cache
expts/weinberg_2016/weinberg_eval_files
expts/simulated_data/*Bias/*
expts/simulated_data/*Rda
expts/goodarzi_2016/*/*bam
expts/goodarzi_2016/*/*Rda
expts/goodarzi_2016/raw_data/SRR*
scripts/*Rda
expts/ferguson_2021/*/*Rda
*bam
*sam
*error
*umitools
*bowtiestats
*results
*rsem.stderr
*tsv
*cutadapt
*fq
*.gz
